/* 
 #C1D5A4; 
 #224B0C */

.card{
max-width: 150px;
display: flex;
margin:1rem;
flex-direction: column;
max-height: 500px;
flex-grow: 1;
box-shadow: 0 2px 5px #000000;
flex: 0 1 calc(25% - 10px);
border-top: 5%;
padding-bottom: 5px;

}
.image{
  max-width: 100%;
  height: 150px;

}
.image img{
    max-width: 100%;
    height: 150px;
    padding: 0;
    margin: 0;
    /* border-radius: 5%; */
    border-top: 5%;
}
.description{
 color: #224B0C ;
}

.description h1 {
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    padding:0;

    
}
.description p {
    font-size: 1rem;
   
    font-family:'Times New Roman', Times, serif;
    padding:0;

    
}

@media screen and (max-width: 410px) {
    .card{
        max-width: 100px;
        max-height: 200px;
    }

    .image img{
        width: 100%;
        height: 75px;
        padding: 0;
        margin: 0;
    }
}